span {
}

.accessible-title {
    display:none;
}

img {
	height: 40px;
	width: 40px;
}

body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    background-color: #333;
}

div {
}

.current-song-labels {
	color : #FFF;
    font-size: 12px;
    font-weight: 700;
    #height: 14px;
    #line-height: 14px;
    #max-width: 266px;
    text-decoration: none;
}

#now-playing-container {
}

.np-text {
	color: #888;
	font-size: 12px;
	font-weight: 700;
	#line-height: 14px;
}

.now-playing-time {
    color : #FFF;
    font-size: 12px;
    #font-weight: 700;
    #height: 14px;
    #line-height: 14px;
    #max-width: 266px;
    text-decoration: none;
}

p {
    height: 60px;
    width: 100px;
    border-radius: 10px;
    background-color: #69D2E7;
    text-align: center;
	color: #FFFFFF;
    font-family: Verdana, Arial, Sans-Serif;
    opacity: 0.5;
    font-size: 1em;
}

.song-data {
    display: none;
}

#logo {
    margin: 0 auto;
    display: block;
    height: 30px;
    width: 100%;
    background-image: url('logo.png');
    background-position: center center;
    background-repeat: no-repeat;
}

/*#controls {
    border: 1px solid blue;
    padding-top: 4px;
    padding-left: 6px;
    padding-right: auto;
}*/

#outer-container {
    width: 100%;
    background-color: #181818;
    border: 1px solid #000;
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.05), 0px 1px 0px 0px rgba(0, 0, 0, 0.2) inset;
    border-radius: 3px;
}

/*.button-container {
    margin-top: auto;
    margin-bottom: auto;
	width: 30%;
    border: 1px solid red;
    display: inline-block;
}*/

.song-preview {
    #width: 140px;
    height: 45px;
    #max-width: 140px;
    width:33%;
    overflow: hidden;
}

.song-previous {
    text-align: left;
}

.song-preview-artist {
    #width: 82px;    
    font-size: 10px;
    line-height: 13px;
    color: #666;
}

.song-next {
    text-align: right;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-cell {
    display: table-cell;
}

.control-button {
    margin: 0 auto;
	display: table-cell;    
	background-image: url('controls.png');
    background-repeat: no-repeat;
    width:30px;
    height:30px;
    min-width: 30px;
    cursor: pointer;
    text-align: center;
}

#previous {
	background-position:-30px 0;
}

#play {
	background-position:-120px 0;
}

#play:hover {
	background-position:-150px 0;
}

#pause {
	background-position:-210px 0;
}

#pause:hover{
	background-position:-240px 0;
}

#previous:hover {
	background-position:-60px 0;
}

#next {
	background-position:-300px 0;
}

#next:hover {
	background-position:-330px 0;
}